.dropdown{

}

.dropdown select{
    width: 350px;
    height: 50px;
    border: 1px solid rgb(0, 139, 0);
    border-radius: 10px;
    text-align: center;
    background-color:yellow;
    text-transform: capitalize;
    cursor: pointer;
}